@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background: #232323;
}

h1 {
  font-size: 50px;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
}

h2:nth-of-type(1) {
  padding: 5px 0;
}
.info {
  background-color: #3f5f5f;
}

.player-container,
.score {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 0;
}

.score {
  font-size: 20px;
}

.stripe {
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stripe h4 {
  color: #3f5e5e;
  font-size: 18px;
  font-weight: 400;
  align-self: center;
  margin-left: 10%;
}
#won-round {
  padding-bottom: 20px;
  text-align: center;
}

button {
  border: none;
  background: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin-right: 10%;
  color: #3f5e5e;
}

button:hover {
  background-color: #3f5e5e;
  color: white;
}

.img-container {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

img{
    width: 100px;
}
@media screen and (max-width: 768px) and (max-width: 1068px) {
  h1 {
    font-size: 2rem;
  }
  .info h2 {
    font-size: 1rem;
  }
  button {
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-right: 10%;
    color: #3f5e5e;
  }
  .stripe h4 {
    font-size: 0.8rem;
    font-weight: 400;
  }
}